@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

:root {
	--white: #FFFFFF;
  --snow: #F9F9FF;
  --lightPurple: #9881FF;
  --purple: #8063FF;
  --gray: #2D3748;
  --bg: #101727;
  --black : #000000;
}

@tailwind base;

@tailwind components;

@tailwind utilities

/* where are ya? */
/* /signup */
