@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

:root {
	--primary: #2A3950;
  --primaryDark: #1a2330;
  --secondary: #FFFFFF;
  --secondaryDark: #F3F4F6;
  --secondaryPrimary: #f13e62;
  --secondaryPrimaryLight: #ff758f;
  --secondaryPrimaryDark: #ff325b;
}

@tailwind base;

@tailwind components;

@tailwind utilities